*{
  margin: 0;
  padding: 0;
}
.main{
  width: fit-content;
  height: fit-content;
}
body{
  margin-left: 0px;

}
.divhomemain{
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 100vw;
 
}
.divhome1{
  display: flex;
  margin-bottom: 0px;
}
.divhome2 li{
  margin-top: 30px;
  float: left;
  list-style: none;
}

.ulhometop {
  margin-top: 10px;
  margin-left: 0px;
  padding-right: 20px;
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */

  height: fit-content;
}

.ulhometop li {
  /* Optional: Define width or max-width to ensure items are responsive */
  flex: 1 1 auto; /* Allows items to grow and shrink as needed */
  min-width: 100px; /* Adjust as needed */
  box-sizing: border-box;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .ulhometop {
      flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .ulhometop li {
      width: 100%; /* Full width for each item on smaller screens */
  }
}
.divhome2{
  /* margin-top: 10px; */
  margin-left: 0px;
  padding-left: 20px;
  align-items: center;  
}
.nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content: space-between;
  padding: 0px;
  color: whitesmoke;
  z-index: 1000;

}
.introheader{
  width:100vw;
  height: 55vh;
  background-image: url('../../public/images/hm.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: changeimage 30s linear infinite ;
  animation-delay: 9s;

}
@keyframes changeimage {
  0%{
    background-image: url('../../public/images/hm.jpg');
  }
  25%{
    background-image: url('../../public/images/1.jpeg');
  }
  75%{
    background-image: url('../../public/images/2.jpg');
  }
  90%{
    background-image: url('../../public/images/3.png');
  }
}
.introheader .cardd{
  padding: 20px;
  text-align: center;
 
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Container for stacking elements */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 70%; 
  height: 60%;
}
.ppp{
  
  font-size: calc(1rem + 1vw); 
  font-weight: 500 !important;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position:absolute;
  transition: opacity 1s ease-in-out;
  
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  white-space: normal;
  width: 60vw;
  padding-top: 20px;
}
.hiddenn {
  opacity: 0;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Animation settings for each element */
.cardd .ppp {
  animation: fadeInOut 30s infinite;
  animation-timing-function: ease-in-out;
}

/* Adjust delays so that elements appear one after another */
.cardd .ppp:nth-child(1) {
  animation-delay: 0s;
}

.cardd .ppp:nth-child(2) {
  animation-delay: 10s; /* Starts after 6 seconds */
}

.cardd .ppp:nth-child(3) {
  animation-delay: 20s; /* Starts after 12 seconds */
}



.btonhome{
  background-color: rgba(0, 0, 0, 0.204);
  color: rgb(255, 255, 255);
  border:none;
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform .2s;
  margin-right: 10px ;
  margin-left: 10px;
  margin-top: 10px;
}
.btonhome:hover{
  
  transform: scale(1.2);
 
} 
.btonhomeuser{
  background-color: rgba(0, 0, 0, 0.204);
  color: rgb(255, 255, 255);
  border:none;
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform .2s;
  margin-right: 10px ;
  margin-left: 10px;
  margin-top: 10px;
}
.btonhomeuser:hover{
  
  transform: scale(1.2);
 
} 
.btonhome:active{
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  background: #000000;
  color: rgb(255, 255, 255);
}
.Searchhome{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border:none;
  font-size: 15px;
  
  height: auto ;
  width: auto;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px ;
  margin-left: 300px;
  margin-top: 0px;
  margin-bottom: 10px;

}
.searchinput{
  border-radius: 40px;
  height: 30px;
  border: none;
  width: 300px;
  text-align: center;
}
@media screen and (max-width: 1380px) {
  .Searchhome{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:none;
    font-size: 15px;
    float: left;
    height: auto ;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px ;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
  
  }
  .searchinput{
    border-radius: 40px;
    height: 30px;
    width: 80px;
    border: none;
    text-align: center;
  }
}
@media screen and (max-width: 820px) {


}

.cheading{
  color: white;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 20;
  font-family: "Open Sans";
  margin-bottom: 0px;

}
.cbheading{
  color: white;
  margin-bottom:20px;
  font-size: 25px;
  font-weight: 10;
  margin-top: 0px;
  
}
.homeh{
  color:white;
  align-items: center;
  height: 12px;
  font-size: 28px;
  margin-left: 20px;
  
}
body{
  background-color: #000000;
}
.nf{
  color: white;
}

.courses{

  box-shadow: rgba(95, 95, 95, 0.75) 0px 5px 15px;



  background-color: #101010;
  /* box-shadow: 4px 3px #4a4a4a; */
  display: block;
  border-radius: 10px;
  /* margin-left: 60px; */
  margin-top: 50px;
  color: white;
}
.courses:hover{
  cursor: pointer;
}
.h4name{
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 690;
  margin-top: 0px;
}

.p2{
  margin-top: 5px;
  font-weight: 500;
  margin-bottom: 0px;
}
.p3{
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 5px;
}
.p1{
  margin-top: 2px; 
  margin-bottom: 3px;
  font-size: small;
}
.imagecourse{
  border-radius: 5px;
  margin: 10px;
  
  
  
}
.rsspan{
  font-weight: 700;
}
.coursedetails{
 
  padding: 20px;
  margin-top: 10px;
  margin-left: 8px;
  vertical-align: top;
  display: inline-block;
}
.courseimage{
  display: inline-block;
  
}



.pagemain{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 800px; */
  width:100vw;
  height: fit-content;
  background-color: white;
  /* background-image: url('../../public/images/a.png'); */
  background-position: bottom;
  background-size: cover;
  
}

/* .leftside{
  
  align-self: flex-start;
  margin-left: 0px;
  background-color: rgba(188, 28, 28, 0);
  width: 10%;
  margin-top: 150px;
  height: 800px;
  align-items:start;
  float: left;
  display: inline;
} */

.middleside {
  margin-left: 1% ;
  margin-right: 1%;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: fit-content;
  display:flex ;
  flex-direction: column;

}
.data1{
  
  
  width: 70%;
  height: 20%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.mainheading{
  color: rgb(255, 255, 255);
  padding-left: 1%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
.logoimg{
  height: 60%;
  width: 60%;
}
.data2{
  
  width: 30%;
  height: auto;
  display: flex;
  justify-content: baseline;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0;
  flex-wrap: wrap;
  margin-right: 20px;
  transition: transform .2s;
}
.data2 p{
  text-align: center;
  color: rgb(141, 141, 141);
  padding: 10px;
}
.data2:hover{
  transform: scale(1.1);
}

.h1loading{
  margin: 400px;
  color:white;
}
.divloading{
  margin-top: 300px;
}
.divloading2{
  margin-top: 300px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}



.divname{
  margin-left: 50px;
  color: aliceblue;
}
.usernamehome{
  color: white;
  font-size: 20px;
  margin-top :12px; 
  margin-left:30px;
  margin-right: 2px;
  margin-bottom:20px;
}
.nf{
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 20px;

}

.line{
  width: 43vmin;
height: 0.6vmin;
background-color: rgb(255, 251, 0);
border-radius: 10px;
margin: 1em auto; /* Center the line */
}

.info{
  height: 400px;
  background-color: #101010;
}
.muit1{
  margin: 10px;
}
.sideform-enc{
  height: fit-content;
  left: -280px;
  top: 20%;
  padding: 10px;
  transition: left 0.5s ease;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: row;
  z-index: 10000
  
}
.sideform{
  height: fit-content;
  background-color: #2727277b;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideformappear{
  
  left: 0;
}

.sideform h3{
  color: white;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideform button{
    margin-top: 15px;
    align-items: center;
    border: none;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.sideform button:hover{
  /* background-color: rgba(255, 255, 255, 0.074);
  color: white; */
  transform: scale(1.3) perspective(1px)
  
}
.slide-btn{
  margin-top: 15px;
  align-items: center;
 background-color: #4f6550;
  border: none;
  width: 90px;
  color:white;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
}
.enqbutton {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}






*{
  box-sizing: border-box;
}

.sustainablitycardhome{
  width:20vw;
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}
.sustainablitycardcontenthome{
  padding: 16px;
  padding-top: 8px;
}

.sustainablitycardcontenthome h3{
  font-size: 28px;
  margin-bottom: 8px;
}
.sustainablitycardcontenthome p{
  color:#666;
  font-size: 15px;
  line-height: 1.3;
}
.sustainablitycardcontenthome .btn{
display: inline-block;
padding: 8px 16px;
background-color: #333;
text-decoration: none;
border-radius: 4px;
margin-top: 16px;
}

.aboutushome{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: whitesmoke;

}
.aboutushome .cardcontainerhome1{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 80px;
}

.aboutushome .cardhome1 {
 
  margin: 20px;
  position: relative; /* Ensure child elements are positioned relative to this */
 
  background-image: url("../../public/images/NMN.jpg");
  background-size: cover; /* Cover entire div */
  background-position: center; /* Center the background image */
  color: white; /* Text color for better visibility on image background */
  overflow: hidden; /* Prevent content from overflowing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for better look */
  width:20vw;
  height: auto;
  transition: transform 0.3s ease; /* Smooth transition on hover */
}
.cardhome1:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}
.aboutushome .cardhome1 .cardcontenthome1{
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 16px;
  
  padding-top: 8px;
}
.aboutushome h1{
  color: rgb(15, 58, 20);
}
.aboutushome .cardcontainerhome1 .cardhome1 .cardcontenthome1 p{
  
  margin-top: 1.5rem;
  font-size: 2.5vmin;
  color: rgb(255, 255, 255);
 }
 .aboutushome .cardcontainerhome1 .cardhome1 .cardcontenthome1 h3{
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  font-size: 3vmin;
  padding: 10px;
  color: rgb(116, 116, 116);

}
.aboutushome .cardcontainerhome1 .cardhome1 .cardcontenthome1 button{
  border: none;
  margin: 8%;
  border-radius: 30px;
  padding: 1.5vmin;
 cursor: pointer;
  border-color: whitesmoke;
  background-color: #171717a6;
  color: rgb(255, 255, 255);

}


.sustainablityhome {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.sustainablitycardcontainerhome{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vh;
  margin-bottom: 80px;

}
.sustainablityhome h3{
  color: rgb(66, 66, 66);
}
.sustainablityhome h1{
  color: rgb(66, 66, 66);
}
.sustainablitycardhome{
  background-color: whitesmoke;
}
.sustainablityhome .btn{
  color: white;
}
.sustainablitycardcontenthome h3{
  color: rgb(67, 67, 67);
}
.ourproductshome{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.ourproductshome h3{
  color: rgb(44, 44, 44);
}
.ourproductshome h1{
  color: rgb(44, 44, 44);
}
.ourproductshome .rowhome{
margin-top: 10px;
 
}
.ourproductshome .colhome{
  width: fit-content;
  height: fit-content;
}
.ourproductshome .colhome2{
  width: fit-content;
  height: fit-content;
  padding: 20px;

}
.ourproductshome .colhome2 p{
  font-size: 20px;
  width: 40vw;
  color: #4f6550;
  padding-top: 20px;
}
.ourproductshome .colhome2 button{
  border: none;
  background-color: rgb(255, 73, 73);
  padding: 1vw;
  cursor: pointer;
  font-size: 20px;
  color: whitesmoke;
  border-radius: 7px;
  
}
.crophome{
  width: 40vw;
  height: 35vh;
}
.ourproductshome .colhome p{
  padding: 2vw;
  padding-top: 5vh;
  width: auto;
  height: auto;
}
.cardcontainerourproductshome{
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
  }

  .partnersAndInversorshome{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }
  .partnersAndInversorshome{
    color: rgb(44, 44, 44);
  }
  .partnersAndInversorshome .rowhome{
  margin-top: 10px;
   
  }
  .partnersAndInversorshome .colhome{
    width: fit-content;
    height: fit-content;
  }
  .partnersAndInversorshome .colhome2{
    
    width: fit-content;
    height: fit-content;
    padding: 1.1vw;
    height: max-content;
    padding-left: 1.5vw;
    margin-top: 0px;
    padding-top: 0px;
  }
  .partnersAndInversorshome .colhome2 p{
    color: #4f6550;
    font-size: 2vmin;
    width: 40vw;
    padding-top: 10px;
    margin-bottom: 2.5vh;
  }
  .partnersAndInversorshome .colhome2 h3{
    border: none;
    padding: 1vw;
    color: rgb(66, 66, 66);
    border-radius: 7px;
    
  }
  .cardcontainerourproductshome{
    margin-top: 3vh;
  }
  
  .crophome{
    width: 100%;
    height: auto;
  }
  .crophome2{
    width: 100%;
    height: auto;
  }
  .partnersAndInversorshome .colhome p{
    padding: 2vw;
    padding-top: 5vh;
    width: auto;
    height: auto;
  }


  .partnersAndInversorshome .pt{
    margin-top: 7px;
  }
  .partnersAndInversorshome h2{
    color: #333;
  }
  .partnersAndInversorshome h1{
    color: #333;
  }
  .partnersAndInversorshome button{
    border: none;
    background-color: rgb(255, 73, 73);
    padding: 1vmin;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 4vh;
    margin-top: 0.5vmin;
    color: whitesmoke;
    border-radius: 7px;
  }
  .info{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .roww {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: center;
    align-items: flex-start;
    gap: 1%; /* Add spacing between items */
}
.colll1{
  width: 20vw; 
  height: auto;
  padding: 0.5vw;
  margin: 1%;
  text-align: start;
}
.colll2, .colll3 {
    width: 20vw; 
    height: auto;
    padding: 0.5vw;
    margin: 1%;
    text-align: start;
    
  }

  .colll1 p, .colll2 p {
    color: rgb(188, 186, 186);
    margin: 0; /* Reset margin to avoid unexpected spacing */
    padding: 0; /* Reset padding */
    
  }
  .colll3 p{
    color: rgb(188, 186, 186);
    margin: 0; /* Reset margin to avoid unexpected spacing */
    padding-top: 1vmin; /* Reset padding */
    text-align: start;
  }
  .roww h3{
  
    color: rgb(255, 255, 255);
  }


.linee{
  width: 100%;
  height: 0.1vmin;
  background-color: rgb(255, 255, 255);
  
  margin: 1em auto;
}
.copyright{
  width: 100%;
  justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}
.cprt1{
  color: rgb(112, 112, 112);
  padding-right: 1vmin;
}
.cprt{
  color:  rgb(255, 255, 255);
}