*{
    color: rgb(255, 255, 246);
    margin: 0;
    padding: 0;
}
.header{
    width:100vw;
    height: 100vh;
    background-image: url('../../../public/images/oil.jpeg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headercontent{
    color: rgb(255, 255, 255);
    text-align: center;
}
.headercontent h2{
    font-size: 4vmin;
}
.headerproddata{
    height: fit-content;
    margin-top: 40px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    transition: transform .2s;
    
}
.headerproddata:hover{
    
    transform: scale(1.2);

}
.headerproddata p{
    font-size: 20px;
    padding: 20px;
}
.line{
    width: 43vmin;
  height: 0.6vmin;
  background-color: rgb(255, 251, 0);
  border-radius: 10px;
  margin: 1em auto; /* Center the line */
}
.headercontent h1{
    font-size: 7vmin;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 0;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}
ul{
    margin-top: 20px;
    list-style: none;

}
.back{
    position: relative;

    height: 5%;
    width: 2.5%;
}
.nav-links{

    display: flex;
    align-items: center;
    

}
.nav-links li{
    margin: 0 30px;
    font-size: 30px;
}
.nav-links li:hover{
    color: rgb(255, 251, 9);
    text-decoration: underline;
    cursor: pointer;
}
.menubtn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40PX;
    cursor: pointer;
    display: none;
}

section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    align-items: center;
    justify-content: space-between;


}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    width:325px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.871);
    margin: 20px;
    transition: transform .2s;
    
}
.col:hover{
    transform: scale(1.2);
}
.imggg{
    width: 100%;
    height: auto;
}
.prodhead{
    font-size: 3vmin;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.enquirybtndiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.enquirybtn{
    border: none;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    width: 30vw;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    /* margin-bottom: 20px; */
}

/* mobile */
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    ul{
        list-style: none;
    
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgba(165, 180, 0, 0.899);
        margin-top: -1000px;
        border-bottom-right-radius: 100px;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .nav-links li:hover{
        color: rgb(255, 251, 9);
        text-decoration: underline;
    }
    .menubtn{
        top:30px;
        position: absolute;
        display: block;
    }
}
