

.rightside{
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    right: 5%;
    /* align-self: flex-start; */
    margin-left:0px;
    border-radius: 25px;
    width: 25%;
    margin-top: 10px;
    height: 660px;
    /* float: right; */
    display: inline-block;
}
.lefteside {
    display: inline-block;
    margin-left: 0% ;
    margin-right: 25%;
   
    width: 60%;
    margin-top: 0%;
    padding: 30px;
    padding-top: 10px;
  
  }

  .datajimain{
    border: 1px solid black;
    width:100vw;
    height: 100vh;
    background-image: url('../../../public/images/oil.jpeg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .upb{
    align-items: center;
    border: none;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.upb:hover{
  /* background-color: rgba(255, 255, 255, 0.074);
  color: white; */
  transform: scale(1.3) perspective(1px)
  
}


.inn{
  margin-top: 20px;
  max-width: fit-content;
  margin-left: 30px;
  margin-right: auto;
  align-items: center;
}
.ubpdiv{
  margin: 30px;
}
.muit1{
  margin: 10px;
}
.dlt{
    align-items: center;
    border: none;
    width: auto;
    background-color: rgb(96, 0, 0);
    color: aliceblue;
    height: 25px;
    cursor: pointer;
    border-radius: 10px;
}
.dlt:hover{
  background-color: rgb(209, 0, 0);
}
.edt{
  align-items: center;
  border: none;
  width: auto;
  background-color: rgb(21, 104, 0);
  color: aliceblue;
  margin-left: 0px;
  padding-right: 8px;
  height: 25px;
  cursor: pointer;
  border-radius: 10px; 
}
.edt:hover{
  background-color: rgb(2, 161, 26);
}
.overlay{
  width: 100%;
  position: fixed;
  height: 100vh;
  background: rgba(33, 33, 33, 0.7);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.showoverlay{
  opacity: 1;
  z-index: 1;
}
.EditForm{
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: -50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow:  0px 0px 10px 3px #919090;
  transition: 1s;
}
.showEditForm {
  top: 50%; 
  z-index: 1;
}
.i1{
  width: 100%;
  margin-bottom: 30px;
  margin-top: 40px;
  height: 35px;
}
.i2{
  width: 100%;
  margin-bottom: 30px;
  height: 35px;
}

.pushb{
  margin-top: 20px;
  align-items: center;
  background-color: #282828;
  border: none;
  color: white;
  width: 90px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.pushb:hover{
  /* background-color: rgba(255, 255, 255, 0.074);
  color: white; */
  transform: scale(1.3) perspective(1px)
  
}


.genq{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 30px;
}




.abt{
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 80%;
  border-radius: 30px;
  background-color: #3030309c;
  padding: 30px;
}
.abt .head{
  font-size: 7vmin;
  color:whitesmoke;
}
.abt .line{
  width: 43vmin;
  height: 0.6vmin;
  background-color: rgb(255, 251, 0);
  border-radius: 10px;
  margin: 1em auto; /* Center the line */
}
.abt p{
  padding: 10px;
  font-size: 3vmin;
  color: rgb(184, 184, 184);

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conimg{
  width: 20%;
  height: auto;
}
